* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", "sans-serif";
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  color: #555;
  text-decoration: none;
}
p {
  color: #555;
}
.container {
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1300px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 50px;
}
.col-2 h1 {
  font-size: 45px;
  line-height: 55px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: rgb(0, 0, 0);
  color: whitesmoke;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #555;
}
.header {
  background: radial-gradient(rgb(255, 255, 255), rgb(177, 177, 177));
}
.header .row {
  margin-top: 70px;
}
.categories {
  margin: 70px 0;
  text-align: center;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.categories .col-3 img {
  width: 100%;
  height: 450px;
  box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.1);
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 23%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  margin: auto;
  width: 50%;
  border: 2px solid #555;
  padding: 10px;
  transform: transform(-0.5s);
}
.col-4 img {
  width: 100%;
}
.small-container .col-4 {
  padding: 30px;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #555;
  width: 400px;
  height: 3px;
  border-radius: 6px;
  position: absolute;
  bottom: 0px;
  left: 30%;
  transform: transalteX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating .fa {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-5px);
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* ----All Products---- */

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #555;
  padding: 3px;
}
select:focus {
  outline: none;
}
/* ---- Media query for menu ---- */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 110px;
    left: 0;
    background: rgb(116, 116, 116);
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* Media query for less than 600px size */

@media only screen and (max-width: 800px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}

/*---- Offer ----*/

.offer {
  background: radial-gradient(rgb(255, 255, 255), rgb(177, 177, 177));
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-image {
  padding: 50px;
}
small {
  color: #555;
}

/*---- Testimonial ----*/

.testimonial {
  padding: 100px;
}
.testimonial .col-3 {
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform(0.5s);
}
.testimonial .col-3 img {
  width: 50%;
  border-radius: 50%;
  margin-top: 20px;
}
.testimonial .col-3:hover {
  transform: translateY(-10px);
}
.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.col-3 p {
  font-size: 13px;
  margin: 12px 0;
  color: #777;
}

/*---- Footer ----*/
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 2px 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 10px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-image {
  margin-top: 15px;
}
.app-image img {
  width: 130px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}
